$light-primary: #ffffff
$dark-primary: #111111
$light-secondary: #ffffff
$dark-secondary: #777777
$light-tertiary: #fafafa
$dark-tertiary: #dfe0df
$quaternary: #f5f5f5
$bg-header: #111111
$shadow-seperation: 2px 2px 5px $dark-tertiary
$font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif

@mixin center-content
    display: flex
    align-items: center
    justify-content: center
